.button {
	height: 40px;
	width: 40px;
	background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
	border-radius: 4px;
	display: grid;
	place-items: center;
	font-size: 22px;
	font-weight: bold;
	user-select: none;
	&:hover {
		cursor: pointer;
		box-shadow: 0 0 5px gray;
		transition: all 100ms linear;
	}
}
.orangeButton {
	height: 40px;
	width: 40px;
	border-radius: 4px;
	display: grid;
	place-items: center;
	font-size: 20px;

	font-weight: bold;
	background-color: rgb(34, 224, 1);
	user-select: none;
	&:hover {
		cursor: pointer;
		box-shadow: 0 0 5px gray;
		transition: all 100ms linear;
	}
}

.xButton {
	height: 39px;
	width: 39px;
	border-radius: 4px;
	display: grid;
	place-items: center;
	font-size: 16px;
	text-align: start;
	padding-bottom: 1px;
	padding-left: 1px;

	font-weight: bold;
	background-color: orangered;
	&:hover {
		cursor: pointer;
	}
}
